# Timeout in seconds that Limine will use before automatically booting.
${WALLPAPER}=boot:///docs/boot-bg.bmp
TIMEOUT=5
GRAPHICS=yes
VERBOSE=yes

        
TERM_WALLPAPER=${WALLPAPER}
TERM_BACKDROP=008080

:Artillery OS x64
    COMMENT=Artillery OS a 64-bit Operating System
    PROTOCOL=limine

    # Disable KASLR (it is enabled by default for relocatable kernels)
    KASLR=no

    KERNEL_PATH=boot:///kernel

    
# The entry name that will be displayed in the boot menu.
:Artillery OS x64 (KASLR on)
    # We use the Limine boot protocol.
    COMMENT=Artillery OS a 64-bit Operating System | KASLR ON, The kernel will be loadded on random address
    PROTOCOL=limine

    # Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
    KERNEL_PATH=boot:///kernel

# Same thing, but without KASLR. 